# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan

# Terraform crash logs
crash.log
crash.*.log

# Sensitive Terraform variables
*.tfvars
*.tfvars.json

# Terraform lock file
# Keep this file in Git instead:
# .terraform.lock.hcl